In [1]:
import pandas as pd
import os

In [5]:
DATA_PATH = os.path.join("..", "..", "data", "gasto_pais_residencia")

In [6]:
df = pd.read_csv(os.path.join(DATA_PATH, "gasto_pais_residencia.csv"), sep=";")
df.head()

,Pais de residencia,Tipo de dato,Gastos y duracion media de los viajes,Periodo,Total
0,Total,Dato base,Gasto medio por persona,2025M01,1.408
1,Total,Dato base,Gasto medio por persona,2024M12,1.442
2,Total,Dato base,Gasto medio por persona,2024M11,1.359
3,Total,Dato base,Gasto medio por persona,2024M10,1.328
4,Total,Dato base,Gasto medio por persona,2024M09,1.314

In [3]:
df.columns = ["pais_residencia", "tipo_dato", "gastos", "periodo", "total"]
df.drop(columns=["tipo_dato"], inplace=True)
df["periodo"] = pd.to_datetime(df["periodo"], format="%YM%m").dt.strftime("%Y-%m-%d")
df = df[df["pais_residencia"] != "Total"]
df["total"] = df["total"].str.replace(".", "").str.replace(",", ".").astype(float)

In [4]:
df.head()

    pais_residencia                   gastos     periodo   total
336     Reino Unido  Gasto medio por persona  2025-01-01  1270.0
337     Reino Unido  Gasto medio por persona  2024-12-01  1219.0
338     Reino Unido  Gasto medio por persona  2024-11-01  1156.0
339     Reino Unido  Gasto medio por persona  2024-10-01  1188.0
340     Reino Unido  Gasto medio por persona  2024-09-01  1200.0

In [5]:
df_pivoted = df.pivot_table(
    index=["periodo", "pais_residencia"], columns="gastos", values="total", dropna=False
).reset_index()
df_pivoted.columns.name = None

In [8]:
df_pivoted.columns = [
    "periodo",
    "pais_residencia",
    "gasto_medio_diario",
    "gasto_medio_persona",
    "duracion_media_viaje",
]
df_pivoted["pais_residencia"] = df_pivoted["pais_residencia"].str.replace(
    "Resto del Mundo", "Otros"
)

df_pivoted

array(['Alemania', 'Francia', 'Italia', 'Paises Nordicos', 'Reino Unido',
       'Otros'], dtype=object)

In [7]:
df_pivoted.to_csv(
    os.path.join(DATA_PATH, "gasto_pais_residencia_cleaned.csv"), index=False
)