In [8]:
import pandas as pd
import os
import re

In [11]:
DATA_PATH = os.path.join("..", "..", "data", "gasto_ccaa_destino")

In [ ]:
df = pd.read_csv(os.path.join(DATA_PATH, 'gasto_ccaa_destino.csv'), sep=';')

In [3]:
df.head()

,Comunidades autonomas,Gastos y Duracion media de los viajes,Tipo de dato,Periodo,Total
0,Total,Gasto medio por persona,Dato base,2025M01,1.408
1,Total,Gasto medio por persona,Dato base,2024M12,1.442
2,Total,Gasto medio por persona,Dato base,2024M11,1.359
3,Total,Gasto medio por persona,Dato base,2024M10,1.328
4,Total,Gasto medio por persona,Dato base,2024M09,1.314

In [4]:
df.drop(['Tipo de dato'], axis=1, inplace=True)

In [5]:
# Convert total to numeric
df['Total'] = df['Total'].str.replace('.', '').str.replace(',', '.').astype(float)

In [6]:
df.head()

,Comunidades autonomas,Gastos y Duracion media de los viajes,Periodo,Total
0,Total,Gasto medio por persona,2025M01,1408.0
1,Total,Gasto medio por persona,2024M12,1442.0
2,Total,Gasto medio por persona,2024M11,1359.0
3,Total,Gasto medio por persona,2024M10,1328.0
4,Total,Gasto medio por persona,2024M09,1314.0

In [7]:
df.columns = [
    "comunidad_autonoma",
    "gastos",
    "periodo",
    "total"
]

In [8]:
df_pivoted = df.pivot_table(index=[ "comunidad_autonoma", "periodo"],
                                        columns="gastos",
                                        values="total").reset_index()

In [9]:
# Remove numbers from comunidad_autonoma rows
regex = re.compile(r'\d+ ')
df_pivoted['comunidad_autonoma'] = df_pivoted['comunidad_autonoma'].apply(lambda x: regex.sub('', x))
df_pivoted.columns.name = None

In [10]:
df_pivoted.columns

Index(['comunidad_autonoma', 'periodo', 'Duracion media de los viajes',
       'Gasto medio diario por persona', 'Gasto medio por persona'],
      dtype='object')

In [11]:
df_pivoted.columns = [
    "comunidad_autonoma",
    "periodo",
    "duracion_media_viaje",
    "gasto_medio_diario",
    "gasto_medio_persona",
]

In [12]:
df_pivoted["periodo"] = pd.to_datetime(df_pivoted["periodo"], format="%YM%m").dt.strftime("%Y-%m-%d")

In [13]:
df_pivoted = df_pivoted[df_pivoted["comunidad_autonoma"] != "Total"]
df_pivoted["comunidad_autonoma"] = df_pivoted["comunidad_autonoma"].str.replace("Otras Comunidades Autonomas", "Otros")

In [14]:
df_pivoted.tail()

,comunidad_autonoma,periodo,duracion_media_viaje,gasto_medio_diario,gasto_medio_persona
779,Otros,2024-09-01,6.92,171.0,1187.0
780,Otros,2024-10-01,6.90,168.0,1161.0
781,Otros,2024-11-01,7.26,144.0,1046.0
782,Otros,2024-12-01,10.36,124.0,1286.0
783,Otros,2025-01-01,9.53,122.0,1160.0

In [7]:
# Save to csv
df_pivoted.to_csv(os.path.join(DATA_PATH, 'gasto_ccaa_destino_cleaned.csv'), index=False)

NameError: name 'df_pivoted' is not defined