In [1]:
import pandas as pd
import os

In [2]:
DATA_PATH = os.path.join("..", "..", "data", "gasto_motivo_viaje")

In [3]:
df = pd.read_csv(os.path.join(DATA_PATH, 'gasto_motivo_viaje.csv'), sep=';')

In [164]:
df.drop(["Tipo de dato"], axis=1, inplace=True)

In [165]:
df.head()

,Motivo del viaje,Gastos y duracion media de los viajes,Periodo,Total
0,"Negocio, motivos profesionales",Gasto medio por persona,2024,1381.0
1,"Negocio, motivos profesionales",Gasto medio por persona,2023,1337.0
2,"Negocio, motivos profesionales",Gasto medio por persona,2022,1240.0
3,"Negocio, motivos profesionales",Gasto medio por persona,2021,1076.0
4,"Negocio, motivos profesionales",Gasto medio por persona,2020,1038.0

In [166]:
df.head()

df.columns = ["motivo_viaje", "gastos", "periodo", "total"]
df["total"] = pd.to_numeric(df["total"], errors="coerce")
df["gastos"].unique()

array(['Gasto medio por persona', 'Gasto medio diario por persona',
       'duracion media de los viajes'], dtype=object)

In [167]:
df_pivoted = df.pivot_table(index=["periodo", "motivo_viaje"],
                                        columns="gastos",
                                        values="total",
                                        dropna=False).reset_index()
df_pivoted.columns.name = None
# df_pivoted.columns.name = None
# df_pivoted.columns = [
#     "periodo",
#     "motivo_viaje",
#     "gasto_medio_diario",
#     "gasto_medio_persona",
#     "duracion_media_viaje",
# ]

In [168]:
df_pivoted.head()

df_pivoted.columns = [
    "periodo",
    "motivo_viaje",
    "gasto_medio_persona",
    "gasto_medio_diario",
    "duracion_media_viaje",
]

In [169]:
df_pivoted.to_csv(os.path.join(DATA_PATH, "gasto_motivo_viaje_cleaned.csv"), index=False)